
.companyBox
  padding: 1rem
  margin: 2rem 0rem
  border: solid 1px rgba(gray, 20%) 
  display: flex
  align-items: center
  justify-content: space-around

  .companyImage
    $companySize: 4rem
    width: $companySize
    height: $companySize

  dl 
    display: flex

    dt
      font-weight: bold

    dd
      margin-right: 5rem
  
  a
    text-decoration: none
    padding: .5rem
    border: solid 1px black
    display: block
    color: black