
.companyDetails
  display: flex
  align-items: center
  justify-content: center
  margin: auto
  border: solid 1px black

  .companyImage
    width: 5rem
    height: 5rem
    display: inline

  header
    padding: 2rem

  .companyNumbers
    display: flex

    td
      padding: .2rem .8rem

    .numberPack
      display: block
      padding: 1rem
      margin-right: 2rem

      .descriptionCell
        font-weight: bold
