
  body
    font-family: Georgia, 'Times New Roman', Times, serif

  h1
    font-size: 1.6rem
    line-height: 2.5rem
    margin-top: 3rem
    padding: 0px

  h2
    font-size: 1.4rem
    line-height: 2.5rem
    margin: 0px
    padding: 0px

  p
    line-height: 2rem